* {
  box-sizing: border-box;
}

:root {
  --color-bg: #2C2C32;
  --color-active: #0f7dc6;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: var(--color-bg);
  padding: 2rem 0;
  text-align: center;
}

header > a {
  color: white;
  text-decoration: none;
  padding: 0 1rem;
}

header > a:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
  margin-top: 0;
}

.container {
  max-width: 900px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}

.footer {
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 20;
  text-align: center;
  background-color: #f8f9fa;
}

main {
  min-height: calc(100vh - 85px - 22px);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

main a {
  text-decoration: none;
  color: var(--color-bg);
}

main a:hover {
  text-decoration: underline;
}

.active {
  color: #0dcaf0;
  cursor: default;
}

.scanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#qrCodeContainer {
  width: 400px;
  height: 400px; /* Задайте желаемую высоту */
  background-color: #f8f9fa; /* Светлый фон, чтобы видеть размеры */
  margin-bottom: 10px; /* Отступ снизу для кнопки */
}

.navbar {
  padding: 1.5rem 1rem; /* Увеличивает высоту хедера */
}

.navbar-nav {
  flex: 1;
  justify-content: center;
}

.navbar-nav .nav-link {
  font-size: 1.2rem; /* Увеличивает размер шрифта */
  margin-left: 15px; /* Увеличивает отступы между ссылками */
  margin-right: 15px;
}

.navbar-brand {
  font-size: 1.5rem; /* Увеличивает размер шрифта бренда */
}

.carousel-caption p {
  font-size: 1.2rem; /* Изменение размера шрифта описания */
  color: #0dcaf0; /* Изменение цвета шрифта описания */
  border: 1px solid rgba(72, 170, 235, 0.5); /* Прозрачная рамка */
  padding: 10px; /* Отступ вокруг текста */
  border-radius: 5px; /* Скругление углов */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Тень */
  background-color: #000000; /* Черный цвет фона */
}